{% extends 'header.html' %}
{% load static %}
{% block content %}
<html>
    <head>
        <title >Thanks for your Order!</title>
    </head>
    <body>
        <section class="bg0 p-t-104 p-b-116">
		
		<div class="container mb-5 text-dark px-5">
		    <h2 class="mb-5"> Payment Successful!</h2>
            
            <h5>Thank you for your purchase!</h5>
            <p>If you have any questions, please let us know through emails.
            </p>
        </div>
			
		
	</section>	
</body>


</html>
{% endblock %}